@import 'theme_color';
@import 'fonts';
@import 'mixin';
@import 'responsive';

.craft-area{
    background: $bg-default;
    padding-top: 20px ;
    // height: 650px;
    /* margin-top: 130px; */
    position: absolute;
    top: 40%;
    z-index: 100;
    left: 50%;
    transform: translate(-50%);
    border-radius: 14px ;
    @media #{$breakpoint-xs} {
        position: relative;
        transform: translate(0);
        top: 0;
         z-index: 0;
         left: 0%;
        
     }
    h1{
        font-size: 100px;
        font-weight: normal;
        margin-bottom: 30px;
        font-style: italic;
        @media #{$breakpoint-xs} {
           font-size: 44px;
            
         }
    }
    h3{
        font-size: 36px; 
        font-weight: normal;
        font-style: italic;
        margin-bottom: 30px;
    }
    h4{
        font-size: 24px;
    }
    p{
        font-size: 18px;
    }
    .craft-head-text {
        padding: 25px 0 0 100px;
        @media #{$breakpoint-xs} {
            padding: 0;
             
          }
    }
    .craft-head-img{
        height: 600px;
        border-radius: 0 0 14px 14px;
        background: url('img/process/img-2.png');
        @media #{$breakpoint-xs} {
            height: 170px;
            border-radius: 0;
            background: url(img/process/img-2.png) no-repeat;
            background-size: contain;
             
          }
    }
}
.craft-area-content{
    position: relative;
    padding: 50px 0;
    &.have-black-bg{
        background: #252525;
    }
    &.mb-have-black-bg{
        background: #252525;
        
    }
    .detail-content{
        h3{
            font-style: italic;
            font-weight: normal;
            color: $white-color;
        }
      .description{
          margin-top: 20px;
        
        p{
            color: $white-color;
            span{
                font-style: italic;
                font-weight: normal;
            }
        }
        .img-detail-content{
            img{
              max-height:466px;
            }
             
        }
      }
      

        
    }


}
